.paragraph_inner_container{
    margin-right: 2em;
}

.next_button{
    background:rgba(30, 30, 30);
    color: white;
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    width: 9em;
    height: 2.5em;
    border: none;
    border-radius: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.271);
    transition: box-shadow 0.10s, background 0.35s;
}

.next_button:hover{
    background: rgb(67, 67, 67);
}

.next_button:active{
    box-shadow: none;
}

#paragraph_with_image{
    display:flex;
    width: 70em;
}



.paragraph_container{
    margin: auto;
    width: 50%;
    font-size: 1rem;
}

.section_container{
    margin-left: 0;
}

.year_header{
    text-align: center;
    background: #CE1212;
    color: white;
    font-size: 1.25rem;
    padding-top: 0.7em;
    width: 100vw;
    height: 3.5em;
    margin-bottom: 2.5em;
}

.event_header{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1em;
    padding: 0.75em 0;    
    background-color: rgba(64, 64, 64, 0.156);
    box-shadow: 0 1vh 5px rgba(0, 0, 0, 0.286);
    width: 100vw;
}

#treaty_event{
    margin: 0px;
}

#section_top_title{
    text-align: center;    
    font-size: 2rem;
}

#treaty_p{
    width: 28em;
}


@media screen and (max-width: 800px) {
    .paragraph_container{
        width: 70%;
        font-size: 1rem;
    }
}