.paragraph_inner_container{
    margin-right: 2vw;
}

.next_button{
    background:rgba(30, 30, 30);
    color: white;
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    width: 15vw;
    height: 8vh;
    border: none;
    border-radius: 20px;
    font-size: 1.75rem;
    cursor: pointer;
    margin-left: 2vw;
    margin-right: 2vw;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.271);
    transition: box-shadow 0.10s, background 0.35s;
}

.next_button:hover{
    background: rgb(67, 67, 67);
}

.next_button:active{
    box-shadow: none;
}

#paragraph_with_image{
    display:flex;
    padding: 2vh;
    margin: 3vh 5vw 3vh 5vw;
    width: 70vw;
}



.paragraph_container{
    margin: auto;
    width: 50vw;
    font-size: 1rem;
}

.section_container{
    margin-left: 15vw;
}

.year_header{
    text-align: center;
    background: #CE1212;
    color: white;
    font-size: 1.25rem;
    padding-top: 0.7em;
    height: 10vh;
    margin-bottom: 7vh;
}

.event_header{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3vh;
    padding: 0.75em 0;    
    background-color: rgba(64, 64, 64, 0.156);
    box-shadow: 0 1vh 5px rgba(0, 0, 0, 0.286);
}

#treaty_event{
    margin: 0px;
}

#section_top_title{
    text-align: center;    
    font-size: 2rem;
}

#treaty_p{
    text-indent: 0vw;
    width: 30vw;
}


