
#top_header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

#page_header{
    position: fixed;
    top: 0;
    z-index: 1;
}

#page_header_h1{
    cursor: pointer;
}

.home_Header{
    background: rgba(30, 30, 30);
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.196);
    overflow: auto;
    scrollbar-width: none;
}


.header_h1{
    font-size: 1.75rem;
}

.header_h1_Container{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 2em;
}

.header_h2_Container{
    flex: 2; 
    display: flex;
    justify-content: center; 
}

.header_h2_link{
    margin: 3em;
}

.underline{
    width: 30%;
    height: 0.3em;
    background: #CE1212;
    border-radius: 0px;
    transition: width 0.35s, border-radius 0.5s;
}

.header_h2{
    cursor: pointer;
}

.header_h2:hover ~ #header_underline{
    width: 100%;
}

#header_underline{
    margin: auto;
}

#description_underline{
    width: 10%;
}

.homepage-description-link:hover > #description-underline{
    width: 33%;
}

@media screen and (max-width:1045px){
    .header_h1{
        font-size: 1.2rem;
    }
    .header_h2{
        font-size: 1.2rem;
    }
    .header_h2_link{
        margin: 2em;
    }
}

.sidebarButton{
    background-image: url("../treatyImages/three-bars-icon-6.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    min-width: 5em;
    height: 4em;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 2em;
}

.sidebarButton:hover{
    background-color: rgba(50, 50, 50, 0.81);
}

.sidebarButton:active{
    background-color: rgb(14, 14, 14);
}