.page_sidebar{
    position: fixed;
    scroll-behavior: smooth;
    background-color:rgb(84, 84, 84);
    width: 13em;
    height: calc(100% - 11%); /* Adjust height to ensure scrollbar visibility */
    top: 5em;
    color: white;
    overflow-y: scroll;
    box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.196);
}


.sidebar_element:hover > #sidebar_underline{
    width: 100%;
}

#sidebar_underline{
    margin:auto;
    width: 0%
}

.sidebar_title{
    text-align: center;
    margin-bottom: 1em;
}


.sidebar_h3{
    text-align: left;
    font-size: 0.9rem;
    margin: 0;
}

.sidebar_element{
    cursor: pointer;
    margin: 0;
    height: 3em;
    padding: 1.3em ;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.196), 0px -5px 5px rgba(0, 0, 0, 0.196);
}

#odd_element_index{
    background: rgb(112, 111, 111);
}
