*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 1rem;
    width: 100%;
}

body{
    scroll-behavior: smooth;
    background-color: rgb(215, 210, 193);
    overflow-x: hidden;
}

@font-face {
    font-family: RedditSans;
    src: url(fonts/RedditSans-VariableFont_wght.ttf);
}

h1{
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    margin: auto;
}

h2{
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    margin: auto;
}

h3{
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    text-align: center;
    font-size: 3.5vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    font-size: 2vh;
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vh;
    background-color: #CE1212;
}

p{
    font-family: RedditSans, Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    line-height: 6vh;
    text-indent: 4vw;
}


.image-Container {
    background-image: url('./treatyImages/KRworld1951V3.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 75vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.253);
    font-size: 2vh;

}

#TP-Norway{
    background-image: url('./treatyImages/treatyParis_Norway.jpg');
    width: 100%;

}

#TP-France{
    background-image: url('./treatyImages/treatyParis_France.jpg');
    width: 100%;

}

#TP-Italy{
    background-image: url('./treatyImages/treatyParis_Italy.jpg');
    width: 100%;

}

#TP-Spain{
    background-image: url('./treatyImages/treatyParis_Spain.jpg');
    width: 100%;

}

#TE-England{
    background-image: url('./treatyImages/treatyLondon.jpg');
    width: 100%;
}


.imageText-Centered{
    background-color: rgba(79, 79, 79, 0.647);
    padding: 2vw;
    width: 80vh;
    color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 5px rgba(27, 27, 27, 0.386);
}


#link-1940{
    background-image: url('./treatyImages/europe1936.jpg');
}

#link-1944{
    background-image: url('./treatyImages/asia1936.jpg');
}

#link-1948{
    background-image: url('./treatyImages/america1936_2.jpg');
}

#link-peace{
    background-image: url('./treatyImages/oceania1936.jpg');
}
